  <body>
    <header role="banner">
      <nav role="navigation">
        <p class="logo"><a href="index.html" title="Projet Ornithorynque">Projet Ornithorynque</a></p>
        <ul>
          <li class="github">
            <a rel="external" href="https://github.com/marathon67/platypus" title="Github" target="_blank">
              <svg class="fa-github">
                <use xlink:href="#fa-github"></use>
              </svg>
              <em>Github</em>
            </a>
          </li>
          <li class="webslides">
            <a rel="external" href="https://webslides.tv" title="WebSlides" target="_blank">
              <svg class="fa-github">
                <use xlink:href="#fa-film"></use>
              </svg>
              <em>WebSlides</em>
            </a>
          </li>
          <li class="camille">
            <a rel="external" href="http://www.ec-camille-hirtz-strasbourg.ac-strasbourg.fr/wordpress/" title="École Camille Hirtz" target="_blank">
              <svg class="fa-twitter">
                <use xlink:href="#fa-users"></use>
              </svg>
              <em>École Camille Hirtz</em>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main role="main">
      <article id="webslides" class="{{site.nav_direction}}">