---
section interview
---
<section class="fullscreen">  <!-- slide 03 -->
    <div class="card-50">
        
            <figure>
                <img src="assets/images/desert.jpg" alt="Áqaba, Jordan">
                <figcaption>
                    <a href="https://unsplash.com/@dburka" target="_blank" title="Site de Daniel Burka (Unsplash)">
                    <svg class="fa-camera">
                        <use xlink:href="#fa-camera"></use>
                    </svg>
                    Daniel Burka (Unsplash)
                    </a>
                </figcaption>
            </figure>
            <!-- end figure-->
        
            <div class="flex-content">
                <h2>Les voix du désert australien ( card )</h2>
                <small>interview</small>

                <p>Une tentative d'illustration sonore.</p>
                <p class="text-intro">Dans le désert profond, le silence est, dit-on, habité. On y entend <span data-end="81701" data-start="72436" data-url="https://www.bac-a-sable.eu/platypus/static/sounds/chant.mp3" class="soundcite soundcite-loaded soundcite-play">des voix étranges</span>, des rumeurs indicibles, des <span class="soundcite" data-url="https://www.bac-a-sable.eu/platypus/static/sounds/digeridoo.mp3" data-start="0" data-end="110000" data-plays="1">musiques lancinantes</span>. <em>Le vent qui fait bouger les sables </em>, dira le sceptique...</p>
<ul class="flexblock border">
<li class="fadeIn slow">Vous m'accorderez, je pense, que le son en contexte, avec le lecteur intégré dans la phrase, c'est notablement plus "classe" que le gros bouton "Écouter" qui se ballade dans son coin. Non ?</li>
</ul>


            </div>
            <!-- end .flex-content-->
        
    </div>
    <!-- end .card-50-->
</section>