---
section titre
----
<section class="slide-top">   <!-- slide 01 -->
    <span class="background" style="background-image:url('assets/images/lunettes.jpg')"></span>
    <!--.wrap = container (width: 90%) -->
    <div class="wrap aligncenter ">
        <h1><strong>Du nouveau pour mon Storytelling ?</strong></h1>
        <p class="text-intro animate wobble"><b>WebSlides</b> semble permettre de<br>
        faire des choses assez élaborées sans trop de difficultés.
        </p>        
    </div>
   <!-- .end .wrap -->
</section>