---
section crédits
----
    
<section class="fullscreen">  <!-- slide 03 -->
    <div class="card-50">
        <div class="flex-content">
            <h2>À suivre ! ( card )</h2>
            <p>Le site <em>Platypus</em> est un chantier en cours.</p>
            <p class="text-intro">Retenez bien notre adresse, notez-là dans vos favoris et ne manquez pas d'y revenir au mois de septembre.</p>
            <h3 class="anime zoomIn">https://www.bac-a-sable.eu/platypus</h3>
        </div>
            <!-- end .flex-content-->
        
        <figure>
            <img src="assets/images/bushwalking.jpg" alt="Áqaba, Jordan">
            <figcaption>
                <a href="https://unsplash.com/@dburka" target="_blank" title="Site de Daniel Burka (Unsplash)">
                    <svg class="fa-camera">
                         <use xlink:href="#fa-camera"></use>
                    </svg>
                    Daniel Burka (Unsplash)
                </a>
            </figcaption>
        </figure>
        <!-- end figure-->
        
    </div>
    <!-- end .card-50-->
</section>