---
section intro
---
<section> <!-- slide 02 -->
    <!--.wrap = container (width: 90%) -->
        <div class="wrap size-50 aligncenter">
            <h2><strong>Vous avez dit WebSlides ?</strong></h2>
            <p class="text-intro">Cette bibliothèque pourrait s'employer utilement dans diverses circonstances :</p>
            <div class="bg-white shadow">
                <ul class="flexblock reasons">
                    <li>
                      <h2>Remplacer cette m... de Powerchose.</h2>
                      <p>Jamais la bonne version, jamais le bon format. Et on ne voit pas précisément ce que l'on fait. Énervement et perte de temps...</p>
                    </li>
                    <li>
                      <h2>Passer directement de la présentation au Web.</h2>
                      <p>Avec WebSlides, il y a HTML5, CSS et Javascript. Pouvant s'éxécuter en local comme depuis un serveur. Le dossier de fichiers à copier, et Hop, c'est en ligne. Et ça marche sous Github...</p>
                    </li>
                    <li>
                      <h2>Remplacer mon vieux JDocumentary.</h2>
                      <p>J'aimais bien ce logiciel, mais il n'est plus maintenu depuis longtemps. WebSlides devrait me permettre de faire aussi bien des Diaporamas sympas que des Romans-Photo.</p>
                    </li>
                  </ul>
            </div>
            <!-- .end .bg-white shadow -->
        </div>
        <!-- .end .wrap -->
    </section>