{% include head.html %}
{% include header.html %}
{% include section_titre.html %}
{% include section_intro.html %}
{% assign items = site.sections %}
{% for slide in site.data.slides2 %}
    {% assign text_position = slide.text_position %}
    {% case text_position %}
        {% when "1" or "2" or "3" %}
            {% assign vert_position = "slide-top" %}
        {% when "4" or "5" or "6" %}
            {% assign vert_position = "slide" %}
        {% when "7" or "8" or "9" %}
            {% assign vert_position = "slide-bottom" %}
        {% when "1" or "4" or "7" %}
            {% assign hor_position = "content-left" %}
        {% when "2" or "5" or "8" %}
            {% assign hor_position = "content-center" %}
        {% when "3" or "6" or "9" %}
            {% assign hor_position = "content-right" %}
    {% endcase %}
   
<section class=" {{ vert_position }} ">
    <span class="background" style="background-image:url('assets/images/{{ slide.image_file }}')"></span>
    <div class="wrap">
        <div class=" {{ hor_position }} bg-trans-{{ slide.text_background }} fadeInUp">
            <h2><strong>{{ slide.title }} </strong></h2>
            <p>{{ slide.sub-title }}</p>
        </div>
    </div>
</section>
   
{% endfor %}  
{% include section_interview.html %} 
{% include section_savoir-plus.html %}   
{% include section_making-off.html %}   
{% include section_credits.html %}
{% include foot.html %}

